#Calculator{
  border-radius: 5px;
  display: flex;
  margin: 5px;
  padding: 5px;
  background-color: aqua;
  flex-direction: column;
  height: 300px;
  width: 200px;
}
input{
  height: 20px;
  width: 150px;
  margin: 5px;
}